@import ./variables.scss

$secondary: #D7276F
$cubic-bezier-1: cubic-bezier(0.72, 0.11, 0.58, 0.39)

*
  -webkit-user-select: none // nothing is selectable

// scrollbars
::-webkit-scrollbar
  width: 10px
  height: 10px
::-webkit-scrollbar-track
  background-color: #000
::-webkit-scrollbar-thumb
  background-color: #333
  &:hover
    background-color: #444


body
  margin: 0
.container-after-titlebar
  margin-top: -1px
  overflow: hidden !important

svg.light
  fill: var(--color-white-100)

// structure
.row
  display: flex
  justify-content: center
  width: 100%
  align-items: center
  &.justify-around
    justify-content: space-around
  &.justify-between
    justify-content: space-between
  &.center
    justify-content: center
  &.column
    flex-direction: column