body
  margin: 0

svg.light
  fill: var(--color-white-100)


// structure
.row
  display: flex
  justify-content: center
  width: 100%
  align-items: center
  &.justify-around
    justify-content: space-around
  &.justify-between
    justify-content: space-between
  &.center
    justify-content: center
  &.column
    flex-direction: column