:root {
    // black
    --color-black-10: lighten(black, 80%);
    --color-black-25: lighten(black, 75%);
    --color-black-50: lighten(black, 50%);
    --color-black-75: lighten(black, 25%);
    --color-black-100: black;

    // white
    --color-white-10: lighten(white, 10%);
    --color-white-25: lighten(white, 25%);
    --color-white-50: lighten(white, 50%);
    --color-white-75: lighten(white, 75%);
    --color-white-100: white;
}
